@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

/* html, body {
  overflow-x: hidden;
} */
/* * {
  outline: 1px solid red;
} */

.animate-slide-in-right {
    animation: slideInRight 0.3s ease-out;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #e5e7eb; /* gray-200 */
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #10b981; /* eco-green */
  border-radius: 9999px;
}

.scrollbar-custom {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #11845d #e5e7eb; /* Firefox */
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}